<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <description>登陆</description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>Servlet.signup</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/Servlet/signup</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>注册</description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>Servlet.register</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Servlet/register</url-pattern>
  </servlet-mapping>

</web-app>