<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <description>登陆</description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.doncat.pf.servlet.SignIn</servlet-class>
  </servlet>
  <servlet>
    <description>注册</description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.doncat.pf.servlet.SignUp</servlet-class>
  </servlet>
  <servlet>
    <description>枚举</description>
    <display-name>GetEnumModule</display-name>
    <servlet-name>GetEnumModule</servlet-name>
    <servlet-class>com.doncat.pf.enums.GetEnumModule</servlet-class>
  </servlet>
  <servlet>
    <description>获取收支类型</description>
    <display-name>GetTypeServlet</display-name>
    <servlet-name>GetTypeServlet</servlet-name>
    <servlet-class>com.doncat.pf.servlet.GetTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>记录一笔</description>
    <display-name>SetRecord</display-name>
    <servlet-name>SetRecord</servlet-name>
    <servlet-class>com.doncat.pf.servlet.SetRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>获取用户账单</description>
    <display-name>GetAccountBook</display-name>
    <servlet-name>GetAccountBook</servlet-name>
    <servlet-class>com.doncat.pf.servlet.GetAccountBook</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEnumModule</servlet-name>
    <url-pattern>/getenummodule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTypeServlet</servlet-name>
    <url-pattern>/gettypeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetRecord</servlet-name>
    <url-pattern>/setrecordservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAccountBook</servlet-name>
    <url-pattern>/getaccountbook</url-pattern>
  </servlet-mapping>


</web-app>